@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--cor__background);
  font-family: "Inter", sans-serif;
}

/* Grid Layout */

.main__all {
  justify-content: center;
  align-items: center;
  margin: 3% 2% 0 2%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 23px;
}

/* Cabeçalho e logo */

.imagem__Perfil {
  justify-self: start;
  width: 64px;
}

.cabecalho {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: center;
  align-self: end;
  grid-row: 1;
  grid-column: 1;
}

.nome__Logo {
  font-size: 2rem;
  font-weight: 500;
}

/* Seção com textos e Input */

.secao__conteudo {
  grid-column: 2;
  grid-row: 2;
}

.area__Preenchimento {
  width: 650px;
  height: 500px;
  font-size: 1.5rem;
  color: var(--botao-background);
  resize: none;
  overflow-wrap: break-word;
}

.area__Preenchimento::placeholder {
  color: var(--botao-background);
}

.text__aviso {
  display: flex;
  align-items: center;
  gap: 1%;
  margin: 0 0 2% 0;
}

.icon__Exclamacao {
  width: 2%;
}

.btn__Crip {
  background-color: var(--botao-background);
  padding: 12px 24px;
  border-radius: 16px;
  color: var(--cor__background_2);
}

.btn__Crip:hover {
  background-color: var(--botao2--background);
  color: var(--botao-background);
  border: 2px solid var(--botao-background);
  cursor: pointer;
}

.btn__Desc {
  padding: 12px 24px;
  border-radius: 20px;
  color: var(--botao-background);
  border: 2px solid var(--botao-background);
}

.btn__Desc:hover {
  background-color: var(--botao-background);
  color: var(--cor__background_2);
  cursor: pointer;
}

/* Seção Resultado e imagens */

.secao__resultado {
  height: 795px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  grid-column: 3;
  grid-row: 1 / 4;
  border-radius: 20px;
  background-color: var(--cor__background_2);
}

.icon__Diamond {
  width: 40%;
}

.titulo__Resultado {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--cor-text2);
}

.paragrafo__Resultado {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.btn__Copiar {
  display: none;
  padding: 12px 24px;
  border-radius: 20px;
  color: var(--botao-background);
  border: 2px solid var(--botao-background);
}

.btn__Copiar:hover {
  background-color: var(--botao-background);
  color: var(--cor__background_2);
  cursor: pointer;
}

.conteudo__footer {
  color: white;
  padding: 20px;
  text-align: center;
  background-color: var(--botao-background);
}

.footer__inst {
  font-weight: bold;
  text-decoration: underline;
}

.footer__inst:hover {
  color: gray;
}
